.container{
    margin: 0 auto;
    width: 900px;
}
.div-post{
    border: 2px solid black;
    background-color: #ffe6e6;
    margin-bottom: 10px;
    position: relative;
}
.name{
    margin-top: 13px;
    margin-bottom: 0;
}
.title{
    margin-top: 0;
    margin-bottom: 8px;
    text-transform: lowercase;
}
.title::first-letter {
    text-transform: uppercase;
}
.icon{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 5px;
    left: 5px;
}
.div-text{
    padding-left: 45px;
}
.text{
    margin-top: 0;
    margin-bottom: 8px;
    text-transform: lowercase;
}
.text::first-letter {
    text-transform: uppercase;
}
.btn{
    display: block;
    margin: 9px;
    font-size: 18px;
    border: 2px solid #ff6666;
    padding: 5px 10px;
}
.email{
    margin: 8px 0;
}